<h2>Intermittent Fasting</h2>
<form action="/habitCreate" method="post">

  <label for="Habit">Habit:</label>
  <input type="text" id="Habit" name= "Habit" value="Intermittent Fasting" readonly="Intermittent Fasting"/><br /><br />

  <label for="Tasks">Tasks:</label><br>
<select type="text" id="Tasks"  name="Tasks">
  <option value="Start spacing your meals further apart">Start spacing your meals further apart</option>
  <option value="Eat less times per day">Eat less times per day</option>
  
 

</select><br>

<label for="Tasks1">Tasks:</label><br>
<select type="text" id="Tasks1"   name="Tasks1">
   <option value="Start feeling comfortable when you feel hungry">Start feeling comfortable when you feel hungry</option>
  <option value="Postpone breakfast">Postpone breakfast</option>
  
 

 

</select><br>
<label for="Tasks2">Tasks:</label><br>
<select type="text" id="Tasks2"   name="Tasks2">
   <option value="Incorporate 16/8 intermittent fasting">Incorporate 16/8 intermittent fasting</option>
   <option value="Incorporate 20/4 intermittent fasting">Incorporate 20/4 intermittent fasting</option>


<option value="Incorporate 24 hours fasts">Incorporate 24 hours fasts</option>
 </select><br>
  

<label for="Time">Time:</label>
<select type="text" id="Time" name="Time">
  <option value="morning">Morning</option>
  <option value="evening">Evening</option>
  <option value="night">Night</option>
  
</select><br>



  <label for="Duration">Duration:</label>
   <input type="text" id="Duration" name="Duration"  /><br /><br />

  <label for="Goal">Goal:</label>
  <textarea type="text" id="Goal" name="Goal" ></textarea><br /><br />

 
 <input type="submit" value="Add Habit!" />
</form>