<h2>Life Style habits</h2>
<form action="/habitCreate" method="post">

  <label for="Habit">Habit:</label>
  <input
    type="text"
    id="Habit"
    name="Habit"
    value="Life-style-habit"
    readonly="Life-style-habit"
  /><br /><br />

  <label for="Tasks">Tasks:</label><br />
  <select type="text" id="Tasks" name="Tasks">
    <option value="Exercise regularly">Exercise regularly</option>
    <option
      value="Drink enough water"
    >Drink enough water</option>
    <option
      value="Get enough sleep"
    >Get enough sleep</option>

  </select><br />
  <label for="Tasks1">Tasks:</label><br />
  <select type="text" id="Tasks1" name="Tasks1">
    <option value="Eat a balanced diet">Eat a balanced diet</option>
    <option value="Reduce alcohol intake">Reduce alcohol intake</option>
    <option value="Stop smoking">Stop smoking</option>
    

  </select><br />
  <label for="Tasks2">Tasks:</label><br />
  <select type="text" id="Tasks2" name="Tasks2">
    <option
      value="Go for regular check-ups with a doctor"
    >Go for regular check-ups with a doctor</option>
    <option value="Maintain a healthy weight">Maintain a healthy weight</option>
    <option value="Wash hands regularly to prevent illness">Wash hands regularly to prevent illness</option>

  </select><br />

  <label for="Time">Time:</label>
  <select type="text" id="Time" name="Time">
    <option value="morning">Morning</option>
    <option value="evening">Evening</option>
    <option value="night">Night</option>

  </select><br />

  <label for="Duration">Duration:</label>
  <input type="text" id="Duration" name="Duration" /><br /><br />

  <label for="Count">Habit completion streak:</label>
  <input type="text" id="Count" name="Count" value="0" readonly="0" /><br /><br />

  <label for="Goal">Goal:</label>
  <textarea type="text" id="Goal" name="Goal"></textarea><br /><br />

  <input type="submit" value="Add Habit!" />
</form>