<h1>About Us</h1>
<p>Welcome to our habit-building website! We believe that small, positive
  changes can have a big impact on your life. Our website is designed to help
  you establish and maintain healthy habits that will help you reach your goals
  and live your best life.</p>
<p>The device you are looking at it's probably the biggest factor contributing
  to your physical, financial, social and, most importantly, mental health
  problems.
  <br />
  Consuming most of your time, energy and focus, distracting your attention from
  the time you get up until you go to bed.
  <br />Let's face the raw truth, it's how we use to live nowadays. That's where
  Habitsu comes into play.
  <br />
  Bearing in mind the scenario just displayed, how are we going to just present
  another habit-related app that's more focused(obviously) in making you spend
  more time connected to a device? Searching for that dopamine hit every time
  you complete a task seems a bit counterintuitive with an app designed to
  improve your well-being.
  <br />

  That's the essence we are trying to capture with Habitsu, an app to help you
  develop new habits and keep track of them, thanks to a design that makes it
  easily accesible, visually comfortable and equipped woth the tools you need to
  log your every step in your path to a the best version of yourself.
</p>

<p>Our team of experts is passionate about helping people make positive changes
  in their lives. We provide science-based resources and tools to help you
  create new habits and break old ones. We understand that building new habits
  can be challenging, which is why we provide personalized guidance and support
  every step of the way.</p>
<p>Our website features a variety of resources, including habit trackers, and
  personalized habit plans. Our habit trackers help you keep track of your
  progress and hold yourself accountable. Our personalized habit plans are
  tailored to your specific needs and goals, making it easier for you to create
  and stick to new habits.</p>
<p>We are committed to creating a supportive community of like-minded
  individuals who are all working towards building better habits. Our forums and
  social media channels provide a platform for you to connect with others, share
  your experiences, and get support and encouragement.</p>
<p>At our habit-building website, we believe that everyone has the power to make
  positive changes in their lives. Let us help you get started on your journey
  to building healthy habits that will transform your life.</p>
<a href="/habits"> Our reccomendations </a>
<br />
<a href="/profile"> Build the future you want </a>