<h1>About Us</h1>
<p>The device you are looking at it's probably the biggest factor contributing to your physical, finantial, social and, most importntly, mental health problems. <br>
Consuming most of your time, energy and focus, distracting your attention from the time you get up until you go to bed. <br>Let's face the raw truth, it's how we use to live nowadays. 

That's where Habitsu comes into play. <br>
Bearing in mind the scenario just displayed, how are we going to just present another  habit-related app that's more focused(obviously) in making you
spend more time connected to a device? Searching for that dopamine hit every time you complete a task seems a bit contraintuitive with an app designed to improve your well-being. <br>

That's the essence we are trying to capture with Habitsu, an app to help you develop new habits and keep track of them, thanks to a design that makes it
easily accesible, visually comfortable and equipped woth the tools you need to log your every step in your path to a the best version of yourself.
</p>