<h2>Sorry! Fields cannot be empty!</h2>
<h2>Please check the fields</h2>
<h2>Or Habit already added! Please check "MY HABITS" section </h2>

<br />

<br />
<a href="/habitPractice">Go back to our reccomendations </a>
<br />
<a href="/myHabits">Go back to your habits </a>
<br />
<a href="/profile">Go back to your profile </a>