<h2>Sorry! Fields cannot be empty!</h2>
<h2>Please check the fields</h2>
<h2>Each habit can be created only once </h2>
<br>
<a href="/habitCreate">Go back to add your habits</a>
<br>
<a href="/habitPractice">Go back to our reccomendations </a>
<br>
<a href="/myHabits">Go back to my habits to see whether the created habit already exist </a>