<h2>Add Habit</h2>
<form action="/habitCreate" method="post">

  <label for="Habit">Habit:</label>
  <input type="text" id="Habit" name="Habit" /><br /><br />

  <label for="Tasks">Tasks:</label>
  <textarea type="text" id="Tasks" name="Tasks"></textarea><br /><br />

  <label for="Tasks1">Tasks:</label>
  <textarea type="text" id="Tasks1" name="Tasks1"></textarea><br /><br />

    <label for="Tasks2">Tasks:</label>
  <textarea type="text" id="Tasks2" name="Tasks2"></textarea><br /><br />


  <label for="Time">Time:</label>
  <select type="text" id="Time" name="Time">
    <option value="morning">Morning</option>
    <option value="evening">Evening</option>
    <option value="night">Night</option>

  </select>

   <label for="Count">Habit completion streak:</label>
  <select type="text" id="Count" name="Count" value="0" readonly="0" /><br /><br />
  

  </select>

  <label for="Duration">Duration:</label>
  <input type="text" id="Duration" name="Duration" /><br /><br />

  <label for="Goal">Goal:</label>
  <textarea type="text" id="Goal" name="Goal"></textarea><br /><br />

  <input type="submit" value="Add Habit!" />
</form>