<p>Don't know where to start? Search for our science based reccomendations to improve the quality of your life</p>
<ol>
<h1><a href="/habits/meditation"><li>MEDITATION</li></a></h1>
<p> <em>"How you breath is how you live"</em></p>
<ol><li>Better manage of stressful situations</li>
<li>skills to manage your stress</li> 
<li>self-awareness on the present</li> 
<li>Helps fight depression</li>
<li>rewire negative self-talk</li>
<li>Increasing creativity, alertness and focus</li>
<li>Increasing patience and tolerance</li>
<li>Lowering resting heart rate and resting blood pressure</li>
<li>Helps to fight nervosity and anxiety</li>
<li>Improving sleep quality</li>
</ol>
<h1><a href="/habits/walking"><li>WALKING</li></a></h1>


<h1><a href="/habits/coldWater"><li>COLD WATER EXPOSURE</li></a></h1>
<h1><a href="/habits/dopamineFasting"><li>DOPAMINE FASTING</li></a></h1>

<h1><a href="/habits/earthing"><li>EARTHING</li></a></h1>
<p> <em>“Feel yourself grounded to the earth, while your mind is focusing on the sky of clarity.” – Nawang Khechog</em></p>
<ol>
    <li>Reduces inflammation</li>
    <li>Reduces probability of having cardiovascular related diseases
</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>
<h1><a href="/habits/exercise"><li>EXERCISE</li></a></h1>

</ol>
<a href="/">BACK</a>




