<h2><a href="/habits/healthDiet"> Real-food based diet:</a></h2>
<ul>
  
  <li><h4>Exercise regularly</h4></li>
  <li><h4>Drink enough water</h4></li>
  <li><h4>Get enough sleep</h4></li>
  <li><h4>Eat a balanced diet</h4></li>
  <li><h4>Reduce alcohol intake</h4></li>
  <li><h4>Stop smoking</h4></li>
  <li><h4>Go for regular check-ups with a doctor</h4></li>
  <li><h4>Maintain a healthy weight</h4></li>
  <li><h4>Wash hands regularly to prevent illness</h4></li>
</ul>

<h2><a href="/habits/mindfulness"> Mindfullness:</a></h2>
<ul>
  <li><h4>Practice mindfulness or meditation</h4></li>
  <li><h4>Practice deep breathing exercises</h4></li>
  <li><h4>Keep a gratitude journal</h4></li>
  <li><h4>Practice self-reflection and journaling</h4></li>
  <li><h4>Spend time in nature</h4></li>
  <li><h4>Listen to calming music</h4></li>
  <li><h4>Limit exposure to negative news or social media</h4></li>
  <li><h4>Disconnect from technology periodically</h4></li>
  <li><h4>Practice yoga or tai chi</h4></li>
  <li><h4>Take a break and go for a walk</h4></li>
</ul>

<h2><a href="habits/productivity"> Productivity:</a></h2>
<ul>
  <li><h4>Create a to-do list or schedule</h4></li>
  <li><h4>Set achievable goals</h4></li>
  <li><h4>Prioritize tasks</h4></li>
  <li><h4>Minimize distractions</h4></li>
  <li><h4>Take breaks regularly</h4></li>
  <li><h4>Practice time management</h4></li>
  <li><h4>Delegate tasks when possible</h4></li>
  <li><h4>Learn to say "no" when necessary</h4></li>
  <li><h4>Focus on one task at a time</h4></li>
  <li><h4>Take on challenging tasks to improve skills</h4></li>
</ul>

<h2><a href="habits/relationships"> Healthy social bonds:</a></h2>
<ul>
  <li><h4>Spend quality time with loved ones</h4></li>
  <li><h4>Practice active listening</h4></li>
  <li><h4>Show appreciation for others</h4></li>
  <li><h4>Communicate effectively</h4></li>
  <li><h4>Practice forgiveness</h4></li>
  <li><h4>Give compliments</h4></li>
  <li><h4>Practice empathy</h4></li>
  <li><h4>Avoid gossip or negative talk</h4></li>
  <li><h4>Be supportive during difficult times</h4></li>
</ul>

