{{#each allHabits}}
  <a href="/movies/{{_id}}">{{title}}</a><br />
{{/each}}


<ol>
<h1><a href="/habitCreate"><li>MEDITATION</li></a></h1>
<h1><a href="/habitCreate"><li>WALKING</li></a></h1>
<h1><a href="/habitCreate"><li>REAL-FOOD BASED DIET</li></a></h1>
<h1><a href="/habitCreate"><li>INTERMITTENT FASTING</li></a></h1>
<h1><a href="/habitCreate"><li>COLD WATER EXPOSURE</li></a></h1>
<h1><a href="/habitCreate"><li>MINDFULNESS</li></a></h1>
<h1><a href="/habitCreate"><li>DOPAMINE FASTING</li></a></h1>
<h1><a href="/habitCreate"><li>SENSORY DEPRIVATION</li></a></h1>
<h1><a href="/habitCreate"><li>EARTHING</li></a></h1>
<h1><a href="/habitCreate"><li>EXERCISE</li></a></h1>

</ol>
<a href="/">BACK</a>


