<h2>Add Habit</h2>
<form action="/habitCreate" method="POST">

  <label for="Habit">Habit:</label>
  <input type="text" id="Habit" name="Habit" /><br /><br />

  <label for="Tasks">Tasks:</label>
  <input type="text" id="Tasks" name="Tasks" /><br /><br />

  <label for="Time">Time:</label>
  <input type="text" id="Time" name="Time" /><br /><br />

  <label for="Duration">Duration:</label>
   <input type="text" id="Duration" name="Duration" /><br /><br />

  <label for="Goal">Goal:</label>
  <input type="text" id="Goal" name="Goal" /><br /><br />
 <input type="submit" value="Add Habit!" />
</form>
