<ol>
<h1><li>MEDITATION</li></h1>
<h1><li>MINDFULNESS</li></h1>
<h1><li>INTERMITTENT FASTING</li></h1>
<h1><li>WALKING</li></h1>
<h1><li>EARLY-MORNING SUN EXPOSURE</li></h1>
<h1><li>PHYSICAL EXERCISE</li></h1>
<h1><li>SENSORY DEPRIVATION</li></h1>
<h1><li>DOPAMINE FASTING</li></h1>
<h1><li>REAL-FOOD BASED DIET </li></h1>
<h1><li>EARTHING</li></h1>
<h1><li>MEDITATION</li></h1>
<h1><li>COLD WATER INMERSION</li></h1>
</ol>