<h3>Don't know where to start?<br> Search for our science based reccomendations to improve the quality of your life</h3>

<h1><a href="/habits/meditation" onclick="location.href='/signup'; return false;"><li>MEDITATION</li></a></h1>
<p> <em>"How you breath is how you live"</em></p>
<ol><li>Better manage of stressful situations</li>
<li>skills to manage your stress</li> 
<li>self-awareness on the present</li> 
<li>Helps fight depression</li>
<li>rewire negative self-talk</li>
<li>Increasing creativity, alertness and focus</li>
<li>Increasing patience and tolerance</li>
<li>Lowering resting heart rate and resting blood pressure</li>
<li>Helps to fight nervosity and anxiety</li>
<li>Improving sleep quality</li>
</ol>
<h1><a href="/habits/walking" onclick="location.href='/signup'; return false;"><li>WALKING</li></a></h1>
<p> <em>"Take a step towards a healthier life."</em></p>
<ol>
    <li>Improves cardiovascular health</li>
    <li>Reduces the risk of heart disease and stroke</li>
    <li>Boosts the immune system</li>
    <li>Helps with weight management</li>
    <li>Reduces anxiety and depression</li>
    <li>Increases energy levels and reduces fatigue</li>
    <li>Strengthens bones and muscles</li>
    <li>Improves balance and coordination</li>
    <li>Reduces the risk of chronic diseases such as diabetes, cancer, and osteoporosis</li>
    <li>Improves overall well-being and quality of life</li>
</ol>

<h1><a href="/habits/coldWater" onclick="location.href='/signup'; return false;"><li>COLD WATER EXPOSURE</li></a></h1>
<p><em>"The ice-cold water can be a merciless teacher. But it’s a teacher that works on you, not against you." - Wim Hof</em></p>
<ol>
  <li>Boosts the immune system</li>
  <li>Increases circulation and metabolism</li>
  <li>Improves lymphatic function</li>
  <li>Increases energy levels and alertness</li>
  <li>Reduces inflammation and soreness</li>
  <li>Enhances mental clarity and focus</li>
  <li>Improves recovery time after exercise</li>
  <li>Reduces stress and anxiety</li>
  <li>Improves overall mood and well-being</li>
  <li>Helps build mental and physical resilience</li>
</ol>








<h1><a href="/habits/dopamineFasting" onclick="location.href='/signup'; return false;"><li>DOPAMINE FASTING</li></a></h1>
<p><em>"Training your mind to focus on the right things is an essential element of success."</em></p>
<ol>
  <li>Re-establishes a healthy relationship with technology</li>
  <li>Helps break addictive patterns and behaviors</li>
  <li>Improves focus, clarity, and productivity</li>
  <li>Increases self-discipline and willpower</li>
  <li>Boosts creativity and problem-solving skills</li>
  <li>Encourages a more mindful and intentional way of living</li>
  <li>Reduces stress and anxiety levels</li>
  <li>Helps improve sleep quality and quantity</li>
  <li>Promotes a deeper sense of self-awareness and self-reflection</li>
</ol>

<h1><a href="/habits/earthing" onclick="location.href='/signup'; return false;"><li>EARTHING</li></a></h1>
<p> <em>“Feel yourself grounded to the earth, while your mind is focusing on the sky of clarity.” – Nawang Khechog</em></p>
<ol>
    <li>Reduces inflammation and promotes healing in the body</li>
    <li>Improves sleep quality and reduces insomnia</li>
    <li>Improves blood flow and reduces blood viscosity</li>
    <li>Reduces stress and improves mood</li>
    <li>Increases energy levels and reduces fatigue</li>
    <li>Improves immune function and helps fight illness</li>
    <li>Helps regulate the body's natural rhythms and balances hormones</li>
    <li>May improve skin health and reduce signs of aging</li>
    <li>Can improve athletic performance and reduce recovery time</li>
    <li>May reduce the risk of chronic diseases such as diabetes, heart disease, and cancer</li>
</ol>
<h1><a href="/habits/exercise" onclick="location.href='/signup'; return false;"><li>EXERCISE</li></a></h1>
<p><em>"Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative intellectual activity." - John F. Kennedy</em></p>
<ol>
    <li>Improves cardiovascular health and reduces risk of heart disease</li>
    <li>Helps to maintain a healthy weight</li>
    <li>Increases muscle strength and endurance</li>
    <li>Helps to build and maintain strong bones</li>
    <li>Improves balance and coordination</li>
    <li>Boosts mood and reduces symptoms of depression and anxiety</li>
    <li>Increases energy levels and reduces fatigue</li>
    <li>Improves brain function and cognitive abilities</li>
    <li>Can be a social activity and helps to build community</li>
    <li>Can be a fun way to try new things and challenge yourself</li>
</ol>
</ol>
<br>
<h4>Sign up for free to see the list of habits that you can create</h4><ol>
<a href="/signup">Signup</a>
<a href="/">BACK</a>




