<h1><a href="/signup">Sign up to our App!<a/></h1> <br>
<br>
<h1><a href="/login">Login to our App!<a/></h1> <br>
<br>
<h1><a href="/habits">Don't know where to start? Search for our science based reccomendations to improve the quality of your life</a> </h1>  <br>
<br>
<h1><a href="/AboutUs">About Us<a/></h1> <br>