{{#each userHabits.habit}}
  <h1>  <a href="/myHabits/{{_id}}">{{this.Habit}}</a></h1>
  <form action="/habitEdit/{{this._id}}" method="get">
<button>Edit</button>
  </form>
  <form action="/habitDelete/{{this._id}}" method="post">
  <button>Delete</button>
  </form>

{{/each}}
<a href="/">BACK</a>

 

