{{#each userHabits.habit}}
  <h1> <a href="/myHabits/{{_id}}">{{this.Habit}}</a></h1>
  <form action="/habitEdit/{{this._id}}" method="get">
    <button>Edit</button>
  </form>
  <form
    action="/habitDelete/{{this._id}}"
    method="post"
    onsubmit="return confirm('Are you sure you want to delete this habit?');"
  >
    <button>Delete</button>
  </form>
   <a href="/progressPage">CHECK YOUR PROGRESS</a>
{{/each}}
  <a href="/profile">BACK</a>
<a href="/habitCreate"> Add new habit</a>
<a href="/habitPractice"> Add habit from our Recommendations </a>
