<h1>Hello {{userName}}<br> We are happy to have you here!<br> <br> Let's start building the future!</h1>

<h1><a href="/habitPractice"> Our Recomendations </a> </h1>  <br>

<h1><a href="/AboutUs">About Us<a/></h1> <br>

<h1><a href="/habitCreate"> Click here to add the habits that you would like to practice<a/></h1> <br>

<h1><a href="/myHabits">My Habits<a/></h1> <br>
<br>

<form method="POST" action="/auth/logout">
  <button type="submit">Logout</button>
</form>

{{#if error}}
  <h2 style="color: red;">There was an error logging in... {{error}}</h2>
{{/if}}