<div class="container-fluid bg-blue">
   <div class="container">
     <nav class="navbar navbar-expand-md p-3">
      <a class="navbar-brand fw-bold text-white fs-3 d-flex align-items-center gap-3" href="/"><img class="favicon-sm bg-white" src="/images/habitsu.png" alt=""> Habitsu</a>
       <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
         <li class="nav-item">
              <div class="dropdown">
  <a class=" dropdown-toggle fs-2 d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <img class="favicon-sm" src="/images/avatar.svg" alt="">
  </a>

  <ul class="dropdown-menu rounded-2 py-3 px-2" aria-labelledby="dropdownMenuLink">
    <li class="d-flex gap-1">  <img class="favicon-sm" src="/images/avatar.svg" alt=""><p>{{userName}}</p></li>
    <li class="py-1"><a class="dropdown-item" href="#">Action</a></li>
    <li class="py-1"><a class="dropdown-item" href="/profile/settings">Account Settings</a></li>
    <li class="py-1"><form class="px-3" method="POST" action="/auth/logout">
  <button class="p-0 border-0 bg-transparent" type="submit">Sign Out</button>
</form></li>
  </ul>
</div>
         </li>
        </ul>
       </div>
    </div>
    </nav>
   </div>
</div>
<div class="container-fluid">
   <div class="container">
 
<h1>Hello {{this.userName}}<br> We are happy to have you here!<br> <br> Start building your future!</h1>


 <div>
      <img  class="control-type-file"     src={{userImage}} alt="image">
    </div>

<h1><a href="/habitPractice"> Our Recommendations </a> </h1>  <br>

<h1><a href="/habitCreate"> Add habits<a/></h1> <br>

<h1><a href="/myHabits">My Habits<a/></h1> <br>
<br>


{{#if error}}
  <h2 style="color: red;">There was an error logging in... {{error}}</h2>
{{/if}}
   </div>
</div>
