<h2>Add Habit</h2>
<form action="/habitCreate" method="post">

  <label for="Habit">Habit:</label>
  <input type="text" id="Habit" name= "Habit" value="Relationships"/><br /><br />

  <label for="Tasks">Tasks:</label>
<select type="text" id="Tasks" aria-multiselectable="true"  name="Tasks">
  <option value="spend time with your loved ones">Spend time with your loved ones</option>
  <option value="practice active listening">practice active listening</option>
 
  
</select>

<select type="text" id="Tasks" aria-multiselectable="true"  name="Tasks">
  <option value="spend time with your loved ones">Spend time with your loved ones</option>
  <option value="practice active listening">practice active listening</option>
 
  
</select>


<label for="Time">Time:</label>
<select type="text" id="Time" name="Time">
  <option value="morning">Morning</option>
  <option value="evening">Evening</option>
  <option value="night">Night</option>
  
</select>



  <label for="Duration">Duration:</label>
   <input type="text" id="Duration" name="Duration"  /><br /><br />

  <label for="Goal">Goal:</label>
  <textarea type="text" id="Goal" name="Goal" ></textarea><br /><br />

 
 <input type="submit" value="Add Habit!" />
</form>