<div class="container-fluid m-0 p-0 bg-light">
   <div class="container">
    <nav class="navbar navbar-expand-md p-3">
      <a class="navbar-brand fw-bold text-blue fs-3 d-flex align-items-center gap-3" href="/"><img class="favicon-sm bg-blue" src="/images/habitsu.png" alt=""> Habitsu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

           <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-md-end">
             <ul class="navbar-nav gap-3">
              <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/">Home</a>
            </li>
            <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/habits">Recommendations</a>
            </li>
             <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/about">About</a>
            </li>
            <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/contact">Contact</a>
            </li>
            <li class="nav-item d-none d-md-flex align-items-center">
               <a class=" btn btn-primary fs-5 p-2 px-4 rounded-5" href="/login">Sign In</a>
            </li>
              <li class="nav-item d-none d-md-block">
               <a class="btn btn-primary p-2 px-4 rounded-5 fs-5" href="/signup">Try for Free</a>
            </li>
             <li class="nav-item d-flex justify-content-center gap-3 pb-4 d-md-none p-2 border-bottom border-muted">
                <a class="btn btn-primary fs-4 rounded-5 px-4 py-2" href="/login">Login</a>
                <a class="btn btn-primary fs-4 rounded-5 px-4 py-2" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item d-md-none border-bottom border-muted pb-4">
              <a class="text-decoration-none text-dark fs-5" href="">Pricing</a>
            </li>
            <li class="nav-item d-md-none d-flex flex-column">
              <a class="text-decoration-none text-dark fs-5" href="">Email Us</a>
              <a class="text-decoration-none text-dark fs-5" href="">Privacy Policy</a>
              <a class="text-decoration-none text-dark fs-5" href="">Terms of Service</a>
            </li>
            <li class="nav-item d-flex gap-3 d-md-none">
              <a href=""><img src="/images/twitter.svg" alt=""></a>
              <a href=""><img src="/images/linkedin.svg" alt=""></a>
            </li>
        </ul>
      </div>
    </div>
    </nav>
    </div>
    </div>
    <div class=" container p-5 mb-5 d-flex flex-column align-items-center">
<h1 class="pb-2">About Us</h1>
<h1 class="pb-4">📝</h1>
<div class=" text-center settings-form">
<p class="text-muted">Welcome to our habit-building website! We believe that small, positive
  changes can have a big impact on your life. Our website is designed to help
  you establish and maintain healthy habits that will help you reach your goals
  and live your best life.</p>
<p class="text-muted">The device you are looking at it's probably the biggest factor contributing
  to your physical, financial, social and, most importantly, mental health
  problems.
  <br />
  Consuming most of your time, energy and focus, distracting your attention from
  the time you get up until you go to bed.
  <br />Let's face the raw truth, it's how we use to live nowadays. That's where
  Habitsu comes into play.
  <br />
  Bearing in mind the scenario just displayed, how are we going to just present
  another habit-related app that's more focused(obviously) in making you spend
  more time connected to a device? Searching for that dopamine hit every time
  you complete a task seems a bit counterintuitive with an app designed to
  improve your well-being.
  <br />

  That's the essence we are trying to capture with Habitsu, an app to help you
  develop new habits and keep track of them, thanks to a design that makes it
  easily accesible, visually comfortable and equipped woth the tools you need to
  log your every step in your path to a the best version of yourself.
</p>

<p class="text-muted">Our team of experts is passionate about helping people make positive changes
  in their lives. We provide science-based resources and tools to help you
  create new habits and break old ones. We understand that building new habits
  can be challenging, which is why we provide personalized guidance and support
  every step of the way.</p>
<p class="text-muted">Our website features a variety of resources, including habit trackers, and
  personalized habit plans. Our habit trackers help you keep track of your
  progress and hold yourself accountable. Our personalized habit plans are
  tailored to your specific needs and goals, making it easier for you to create
  and stick to new habits.</p>
<p class="text-muted">We are committed to creating a supportive community of like-minded
  individuals who are all working towards building better habits. Our forums and
  social media channels provide a platform for you to connect with others, share
  your experiences, and get support and encouragement.</p>
<p class="text-muted">At our habit-building website, we believe that everyone has the power to make
  positive changes in their lives. Let us help you get started on your journey
  to building healthy habits that will transform your life.</p>
  </div>
</div>
    <footer class="container-fluid bg-gray">
     <div class="container">
    <div class="row">
       <div class="col-12 col-md">
           <h1 class="text-blue d-flex align-items-center gap-3"><img class="favicon-md bg-blue" src="/images/habitsu.png" alt="">Habitsu</h1>
           <p>Copyright © 2023</p>
           <p class="fs-5">Made with <img src="images/logo11.svg" alt=""> by <a class="text-decoration-none" href="">Mauricio</a> & <a class="text-decoration-none" href="">Rampiyra</a> & <a class="text-decoration-none" href="">Krisztian</a></p>
       </div>
       <div class="col d-flex justify-content-start d-md-block">
          <div class="row">
            <div class="col d-flex gap-3 justify-content-end">
                 <ul class="list-style-none d-flex flex-column gap-2">
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/">Home</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/about">About</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/contact">Contact</a></li>
               </ul>
               <ul class="list-style-none d-flex flex-column gap-2">
                   <li><a class="text-decoration-none text-dark text-default fs-4" href="/privacy-policy">Privacy Policy</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/terms-of-use">Terms of Service</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/contact">Email Us</a></li>
                        <li class="d-flex gap-3 mt-3">
                  <img src="/images/twitter.svg" alt="">
                  <img src="/images/linkedin.svg" alt="">
                </li>
               </ul>
            </div>
          </div>
       </div>
    </div>
     </div>
   </footer>