<head>
	<title>Contact Information</title>
</head>
<body>
	<h1>Contact Information</h1>
	<p>Phone: (1-877-HABIT-DOSE)</p>
	<p>Email: (habitsu.support@gmail.com)</p>
	<p>Address:(123 Main Street,Anytown, Any city, Any country, Europe)</p>
</body>