<h2>Add Habit</h2>
<form action="/auth/habit" method="POST">
  <label for="Habit">Habit:</label>
  <input type="text" id="Habit" name="Habit" /><br /><br />

  <label for="Tasks">Occupation:</label>
  <input type="text" id="Tasks" name="Tasks" /><br /><br />

  <label for="Time">Time:</label>
  <input type="text" id="Time" name="Time" /><br /><br />

   <label for="Duration">Duration:</label>
  <input type="text" id="Time" name="Time" /><br /><br />

   <label for="Goal">Time:</label>
  <input type="text" id="Goal" name="Goal" /><br /><br />



  <button type="submit">Create </button>
</form>