<div class="container-fluid m-0 p-0 bg-light">
   <div class="container">
    <nav class="navbar navbar-expand-md p-3">
      <a class="navbar-brand fw-bold text-blue fs-3 d-flex align-items-center gap-3" href="/"><img class="favicon-sm bg-blue" src="/images/habitsu.png" alt=""> Habitsu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

           <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-md-end">
             <ul class="navbar-nav gap-3">
              <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/">Home</a>
            </li>
            <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/habits">Recommendations</a>
            </li>
                        <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/about">About</a>
            </li>
            <li class="nav-item d-none d-md-flex align-items-center">
               <a class="nav-link text-primary fs-5 d-none d-lg-block" href="/contact">Contact</a>
            </li>
            <li class="nav-item d-none d-md-flex align-items-center">
               <a class=" btn btn-primary fs-5 p-2 px-4 rounded-5" href="/login">Sign In</a>
            </li>
              <li class="nav-item d-none d-md-block">
               <a class="btn btn-primary p-2 px-4 rounded-5 fs-5" href="/signup">Try for Free</a>
            </li>
             <li class="nav-item d-flex justify-content-center gap-3 pb-4 d-md-none p-2 border-bottom border-muted">
                <a class="btn btn-primary fs-4 rounded-5 px-4 py-2" href="/login">Login</a>
                <a class="btn btn-primary fs-4 rounded-5 px-4 py-2" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item d-md-none border-bottom border-muted pb-4">
              <a class="text-decoration-none text-dark fs-5" href="">Pricing</a>
            </li>
            <li class="nav-item d-md-none d-flex flex-column">
              <a class="text-decoration-none text-dark fs-5" href="">Email Us</a>
              <a class="text-decoration-none text-dark fs-5" href="">Privacy Policy</a>
              <a class="text-decoration-none text-dark fs-5" href="">Terms of Service</a>
            </li>
            <li class="nav-item d-flex gap-3 d-md-none">
              <a href=""><img src="/images/twitter.svg" alt=""></a>
              <a href=""><img src="/images/linkedin.svg" alt=""></a>
            </li>
        </ul>
      </div>
    </div>
    </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container d-flex align-items-center flex-column text-center py-5">
<br>
<h1><b>IMPORTANCE OF HABITS</b></h1>
<p class="text-muted">Habits are important in life because they help us establish a routine and stay consistent in our actions. When we form positive habits, we are more likely to achieve our goals and lead a healthier, happier life. Here are some limitations that can arise when we fail to establish positive habits:
<p class="text-muted">
Procrastination: Without good habits, it's easy to fall into a cycle of procrastination, which can lead to missed opportunities and increased stress.
</p>
<p class="text-muted">
Unhealthy lifestyle: Poor eating habits and lack of exercise can lead to a range of health problems, including obesity, heart disease, and diabetes.
</p>
<p class="text-muted">
Lack of productivity: Without good habits around time management and focus, it can be difficult to stay productive and accomplish our goals.
</p>
<p class="text-muted">
Strained relationships: Failing to establish good habits around communication and empathy can lead to strained relationships with loved ones.
</p>
<br>
<p class="text-muted">
One story that illustrates the importance of habits is that of Benjamin Franklin. Franklin was a founding father of the United States and a renowned inventor, but he is also known for his commitment to self-improvement through habit-building. He developed a system of 13 virtues that he sought to embody in his daily life, including industry, sincerity, and frugality. He kept a record of his progress each day and aimed to improve on his habits over time. By establishing positive habits, Franklin was able to achieve great success in both his personal and professional life.
</p>
<br>
<h2><b>Related Book Suggestions</b></h2>
<h3><a href="https://www.amazon.com/Power-Habit-What-Life-Business/dp/081298160X">The Power of Habit" by Charles Duhigg:</a></h3>
<h3><a href="https://www.amazon.com/Tiny-Habits-Changes-Change-Everything/dp/0358003326">Tiny Habits" by BJ Fogg:</a></h3>
<br>
<h2><b>Related Articles</b></h2>
<h3><a href="https://www.stephencovey.com/7habits/7habits.php">The 7 Habits of Highly Effective People:</a></h3>
<h3><a href="https://gretchenrubin.com/books/better-than-before/about-the-book">Better Than Before" by Gretchen Rubin:</a></h3>
<br>
<h2><b>Related videos</b></h2>
<h3>Watch the importance of Habits here</h3> <br>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vN1aRN5bQQ0?start=33" title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</div>
</div>
<footer class="container-fluid bg-gray">
     <div class="container">
    <div class="row">
       <div class="col-12 col-md">
           <h1 class="text-blue d-flex align-items-center gap-3"><img class="favicon-md bg-blue" src="/images/habitsu.png" alt="">Habitsu</h1>
           <p class="text-graylight opacity-75">Copyright © 2023</p>
           <p class="fs-5">Made with <img src="images/logo11.svg" alt=""> by <a class="text-decoration-none" href="">Mauricio</a> & <a class="text-decoration-none" href="">Rampriya</a> & <a class="text-decoration-none" href="">Krisztian</a></p>
       </div>
       <div class="col d-flex justify-content-start d-md-block">
          <div class="row">
            <div class="col d-flex gap-3 justify-content-end">
                <ul class="list-style-none d-flex flex-column gap-2">
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/">Home</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/about">About</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/contact">Contact</a></li>
               </ul>
               <ul class="list-style-none d-flex flex-column gap-2">
                   <li><a class="text-decoration-none text-dark text-default fs-4" href="/privacy-policy">Privacy Policy</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/terms-of-use">Terms of Service</a></li>
                <li><a class="text-decoration-none text-dark text-default fs-4" href="/contact">Email Us</a></li>
                        <li class="d-flex gap-3 mt-3">
                  <img src="/images/twitter.svg" alt="">
                  <img src="/images/linkedin.svg" alt="">
                </li>
               </ul>
            </div>
          </div>
       </div>
    </div>
     </div>
   </footer>



