<h1>Login to our App!</h1>

<form action="/auth/login" method="post">
   <label for="username">Username</label>
  <input type="username" name="username" value=""  />
     <label for="email">Email</label>
  <input type="email" name="email" value"" />
     <label for="password">Password</label>
  <input type="password" name="password" value=""  />
   
 <input type="submit" value="Login now" />
</form>
<br><br>
<a href="/auth/signup"> New-User?  Access our contents by signing up for free</a>
{{#if error}}
  <h2 style="color: red;">There was an error logging in... {{error}}</h2>
{{/if}}