<h1>Sign up to our App!</h1>

<form action="auth/signup" method="post">
<label for="username">Username</label>
  <input type="username" name="username" value=""  />
  <label for="email">Email</label>
  <input type="email" name="email" value="" />
  <label for="password">Password</label>
  <input type="password" name="password" value=""  />

  <input type="submit" value="Sign up now" />
</form>

{{#if error}}
  <h2 style="color: red;">There was an error logging in... {{error}}</h2>
{{/if}}